<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group">
    <input required
           formControlName="title"
           type="text"
           class="form-control"
           automation-id="title-control"
           placeholder="Название">
    <div class="form-control"
      automation-id="title-error">
      {{errorMes('title')}}
    </div>
  </div>
  <div class="form-group">
    <input formControlName="price"
           type="text"
           class="form-control"
           automation-id="price-control"
           placeholder="Стоимость">
    <div class="form-control"
      automation-id="price-error">
      {{errorMes('price')}}
    </div>
  </div>
  <div class="form-group">
    <input formControlName="date"
           type="text"
           class="form-control"
           automation-id="date-control"
           placeholder="Дата">
    <div  class="invalid-feedback"
      automation-id="date-error">
      {{errorMes('date')}}
    </div>
  </div>
  <div class="form-group">
    <textarea formControlName="comment"
           type="text"
           class="form-control"
           automation-id="comment-control"
           placeholder="Комментарий">
    </textarea>
  </div>
  <div class="form-group">
    <button type="submit"
            [disabled]="form.pristine || form.invalid"
            automation-id="submit"
            class="btn btn-success btn-block">
      Готово
    </button>
  </div>
</form>
